<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="Loan Bot"/>
    <add key="MicrosoftAppId" value="27c18074-7144-495a-a740-afe49efd5a27"/>
    <add key="MicrosoftAppPassword" value="hfw4b7eBELpXL9aPzWseSM0"/>
    <!-- Azure Storage: dltextloan -->
    <add key="dltextloan_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dltextloan;AccountKey=1vzn5KLn0WjB/WCcNjc/Wivt91/8Xu6Y/W6XWMK1kosbhjmwDuRG+Q6FL5VonY9f8+VcbnKMuwhfhF/4adR3JQ=="/>
    
    <!--Bot Prompts Starts-->
    <add key="botreset" value="BOT RESET! Please start again!"/>
    <add key="InvalidAmount" value="Please enter NEW is this is a new car, or  USED if this is a request for a used car loan"/>
    <add key="WelcomeMessage" value="Welcome to the turboLoan Car Loan Application.  \n\nFor Help, enter HELP at any time. For a complete list of terms and conditions, please click: https://is.gd/soMHVR \n\n \n\n"/>
    <add key="LoanPrompt" value="Please enter in the amount you wish to borrow?"/>
    <add key="UnableToVerifyLicense" value="Unfortunately due to unclear image or some other reason we are unable to verify your driving license \n\nPlease contact our support or try process again."/>
    <add key="TermsHeader" value="    Bank Name | Amount | Term | Rate \n\n"/>
    <add key="ChangeTermsPrompt" value="Please Enter new terms starting 1 year to 6 years \n\nShorter Terms\n\n Example: 1,2,3 \n\nLonger Terms \n\n Example: 4,5,6"/>
    <add key="LoanShortLong" value="To see shorter terms, enter SHORTER To see longer terms, enter LONGER.\n\nOtherwise please select one  of the offers above to receive your preapproval authorization code."/>
    <add key="InitiationPropmpt" value="Send &quot;Loan&quot; to this number to get started!"/>
    <add key="HelpText" value="HELP – This screen TERMS – for complete terms and conditions RESET – Start over \n\nFor complete help please click the link below: Https://short.bi/HELPMENOW \n\n© 2017 Visionet Systems \n\nwww.visionetsystems.com"/>
    <add key="TermsText" value="A complete list of the terms and conditions can be found at turnLoans.com. Or clicking the link below: https://short.bi/UFHFHF \n\n© 2017 Visionet Systems \n\nwww.visionetsystems.com"/>
    <add key="CarQuestionText" value="Is this for a New or Used car?"/>
    <add key="InvalidInputText" value="Please enter a valid value !"/>
    <add key="ImageUploadPromptText1" value="Please click on url below to upload a photo of the back of your drivers license, or simply send a photo via texting\n\n"/>
    <add key="ImageUploadPromptText2" value="When you are done, press 1 and send!"/>
    <add key="PreQuestionText" value=" first we need to verify your identity. This is for your own protection. Please answer the following questions."/>
    <add key="UnableToVerifyText" value="Unable to validate drivers license. Please upload a new photo with minimal glare and fits to the picture area \n\nWhen you are done, press 1 and send!"/>
    <add key="VehicleYearPromptText" value="Please enter the year of the vehicle?"/>
    <add key="LoanTermsPromptText" value="Please enter the desired length of loan in year(s). \n\nFor multiple quotes please separate the years with commas.  (example: 3,4,5). \n\nTo receive all loan offers text ALL?"/>
    <add key="UnableToVerifyIdentity" value="Sorry, we were unable to verify your identity at this time.Please try again, or contact 412-298-7108 to confirm your identity."/>
    <add key="trterms1" value="Obtain Quotes From Lenders \n\n(Lender selection based upon loan type, state, amount)"/>
    <add key="termsPrompt" value="Please enter length of loan term in year(s). For multiple term periods please separate with commas.  (example: 3,4,5) To receive all loan offers text ALL?"/>
    <add key="imageSuggestPrompt" value="We request you to upload the image on url described above. \n\nOtherwise wait for the response from our verification server. "/>
    <!--Bot Prompts End-->
  
  </appSettings>
  
  <!--

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>      
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <sessionState timeout="30"/>
  
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.htm"/>
      </files>
    </defaultDocument>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
